@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jolly+Lodger&display=swap');

* {
    color: black;
}

.card,
h2,
h3,a,h4,span{
    font-family: "Jolly Lodger", system-ui;
}
p,.button, .flist,h5{
    font-family:'JetBrains Mono';
}

.background-image {
    background-image: url('./IMG_5383.webp');
    background-size: cover;
    background-position: center;
}

.waveWrapper {
    position: relative;
    width: 100%;
    height: 30vh;
    /* Adjust height as needed */
    overflow: hidden;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 100%;
    background: url('./wave.svg') repeat-x;
    transform-origin: center bottom;
}

.waveAnimation {
    animation: moveWave 15s linear infinite;
}

@keyframes moveWave {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(0);
    }
}
.text-stroke {
    -webkit-text-stroke: 2px black; 
    text-stroke: 2px black; 
}

.tab-content {
    max-height: 0;
    transition: max-height 0.5s ease;
  }
  input:checked ~ .tab-content {
    max-height: 100vh;
  }
  input:checked + .tab-label .test {
    background-color: #000;
  }
  input:checked + .tab-label .test svg {
    transform: rotate(180deg);
    stroke: #fff;
  }